.success-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5rem;
}

.success-box h3 {
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.success-box p {
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    color: rgb(173 182 191);
    margin-top: 0.8rem;
    margin-bottom: 3rem;
}

.success-box button {
    padding: 1rem 0;
    border-radius: 6px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(34, 9, 48, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.success-box button:hover {
    background-color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 1000px) {
    .success-box {
        margin-left: 0;
        margin-top: clamp(15rem,40vh,20rem);
        margin-bottom: 1rem;
    }
}