*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter',sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    -45deg,
    rgba(4, 31, 27, 0.98),
    rgba(56, 12, 74, 1),
    rgba(59, 14, 70, 1),
    rgba(61, 15, 66, 1),
    rgba(68, 20, 54, 1),
    rgba(51, 37, 78, 1),
    rgba(43, 45, 89, 1),
    rgba(41, 38, 84, 1),
    rgba(39, 31, 79, 1),
    rgba(36, 13, 55, 1),
    rgba(34, 5, 45, 1)
   );
  
   background-image: radial-gradient(
     rgba(78,26,69,.2) ,
     rgba(69,20,43,.2) ,
     rgba(61,14,18,.2) ,
     rgba(60,13,13,.2),
   ); 
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.form-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  .card-section {
    height: 30vh;
    z-index: -2;
    position: relative;
  }
  
}